<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:tiles="http://www.thymeleaf.org"
    xmlns:dt="http://github.com/dandelion/datatables"
     th:lang="${#locale.language}">

<head>
  <title>FirstTest</title>
</head>


<body>
 <h1>User</h1>

 <form action="#" th:action="@{/user}" th:object="${user}" method="post">
            <table>
                <tr>
                    <td>login:</td>
                    <td><input type="text" th:field="*{login}" /></td>
                    <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">login Error</td>
                </tr>
                <tr>
                    <td>birth:</td>
                    <td><input type="text" th:field="*{birthDate}" /></td>
                    <td th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Birth Error</td>
                </tr>
                   <tr>
                    <td>salary:</td>
                    <td><input type="text" th:field="*{salary}" /></td>
                    <td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>



</body>
</html>